<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.princewang1994.github.io</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>26F06F6F-11EE-41FA-8DCA-DFBF46240054</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95147C57-F9D6-4E62-965B-53657A5675FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58DDC6FB-97D6-4D42-A144-634DBA6A8CD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09D23C02-5C58-407B-894E-3A3495AF16AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AAD83A0-123E-4C00-BD61-224488AE429B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DA4A822-47A6-4F79-9222-2AB55A4865B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95147C57-F9D6-4E62-965B-53657A5675FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7F3AD3F-310D-4509-A10D-D8DADC61ACD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7F3AD3F-310D-4509-A10D-D8DADC61ACD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AAD83A0-123E-4C00-BD61-224488AE429B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>268CAE23-317F-4CEA-83E4-508A13F4C34D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Prince Wang</string>
	<key>description</key>
	<string>upload images from clipboard to QiNiu picture bed</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Picture Bed Uploader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Markdown Image URL has clipped</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0DA4A822-47A6-4F79-9222-2AB55A4865B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>\S+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7AAD83A0-123E-4C00-BD61-224488AE429B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>26F06F6F-11EE-41FA-8DCA-DFBF46240054</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>268CAE23-317F-4CEA-83E4-508A13F4C34D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PYTHON=/Users/prince/anaconda/bin/python
PYTHON upload.py `pbpaste`</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95147C57-F9D6-4E62-965B-53657A5675FC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PYTHON=/Users/prince/anaconda/bin/python
PYTHON markdown.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E7F3AD3F-310D-4509-A10D-D8DADC61ACD8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from markdown import make_blank_config, CONFIG_FILE
import os

if not os.path.exists(CONFIG_FILE):
	make_blank_config(CONFIG_FILE)
	os.system('open -b "com.apple.TextEdit" "./%s"' % CONFIG_FILE)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>09D23C02-5C58-407B-894E-3A3495AF16AE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mdimgsetup</string>
				<key>subtext</key>
				<string>设置markdown图片上传图床的信息</string>
				<key>text</key>
				<string>markdown img设置</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>58DDC6FB-97D6-4D42-A144-634DBA6A8CD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use hotkeys to launch actions by pressing a key combination. You can connect one or more actions to be performed.

Hotkeys are stripped on import, to ensure that they don't clash with your existing hotkeys, so double-click the object and set your own hotkey.

A hotkey needs to contain a modifier (Cmd, Ctrl or Alt) and a keyboard character at least, but your best bet is to use slightly less common combinations (e.g. two modifiers) to avoid clashing with default OS X hotkeys or other apps on your Mac.</string>
	<key>uidata</key>
	<dict>
		<key>09D23C02-5C58-407B-894E-3A3495AF16AE</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>0DA4A822-47A6-4F79-9222-2AB55A4865B0</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>268CAE23-317F-4CEA-83E4-508A13F4C34D</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>26F06F6F-11EE-41FA-8DCA-DFBF46240054</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>58DDC6FB-97D6-4D42-A144-634DBA6A8CD9</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>7AAD83A0-123E-4C00-BD61-224488AE429B</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>95147C57-F9D6-4E62-965B-53657A5675FC</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>E7F3AD3F-310D-4509-A10D-D8DADC61ACD8</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>http://princewang1994.github.io</string>
</dict>
</plist>
